<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Assignment7-SeleniumSuite" verbose="1">

    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="ProductNavigationTests">
        <classes>
            <class name="tests.ProductNavigationTest"/>
        </classes>
    </test>

</suite>
